---
const { name, age, city } = Astro.props;
---

<div
    class="rounded-lg p-4 w-1/2 shadow-md text-white border-[0.1px] border-gray-600"
>
    <h1>Hello my name is {name}!</h1>
    <p>I'm {age} years old and I live in {city}.</p>
    <p>Date: {new Date().toLocaleTimeString()}</p>
    <ul>
        <li>{name}</li>
        <li>{age}</li>
        <li>{city}</li>
    </ul>
</div>
